@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #daf1fd;
  --highlight: #00aaff;
  --text: #0d0806;
  --active: white;
  --menuicon: rgb(88, 88, 88);
}

[data-theme="dark"] {
  --background: #021a27;
  --highlight: #aee4ff;
  --text: #f9f3f1;
  --active: black;
  --menuicon: rgb(184, 184, 184);
}

body {
  font-size: 62.5%;
}